<!-- blog -->
<section class="home">
    <!-- blog bg -->
    <div class="owl-carousel home__bg">
        <div class="item home__cover" data-bg="img/home/home__bg.jpg"></div>
        <div class="item home__cover" data-bg="img/home/home__bg2.jpg"></div>
        <div class="item home__cover" data-bg="img/home/home__bg3.jpg"></div>
        <div class="item home__cover" data-bg="img/home/home__bg4.jpg"></div>
    </div>
    <!-- end blog bg -->

    <div class="container">
        <div class="row">
            <div class="col-12">
                {{#if isSearchResult}}
                    {{#if searchQuery}}
                        <h1 class="home__title">SEARCH RESULTS FOR "<b>{{searchQuery}}</b>"</h1>
                    {{else if genreFilter}}
                        <h1 class="home__title">MOVIES IN "<b>{{genreFilter}}</b>" GENRE</h1>
                    {{/if}}
                {{else}}
                    <h1 class="home__title"><b>NEW MOVIES</b> UPDATED</h1>
                {{/if}}

                <button class="home__nav home__nav--prev" type="button">
                    <i class="icon ion-ios-arrow-round-back"></i>
                </button>
                <button class="home__nav home__nav--next" type="button">
                    <i class="icon ion-ios-arrow-round-forward"></i>
                </button>
            </div>

            {{#unless isSearchResult}}
            <div class="col-12">
                <div class="owl-carousel home__carousel">
                    {{#if movies}}
                      {{#each movies}}
                      <div class="item">
                          <!-- card -->
                          <div class="card card--big">
                              <div class="card__cover">
                                  {{#if posterPath}}
                                  <img src="https://image.tmdb.org/t/p/w500{{posterPath}}" alt="{{title}}">
                                {{else}}
                                  <img src="img/covers/cover.jpg" alt="{{title}}">
                                {{/if}}
                                  <a href="/movies/{{_id}}/watch" class="card__play">
                                      <i class="icon ion-ios-play"></i>
                                  </a>
                                  <span class="card__favorite" onclick="toggleFavorite('{{_id}}')">
                                      <i class="icon ion-ios-heart"></i>
                                  </span>
                              </div>
                              <div class="card__content">
                                  <h3 class="card__title"><a href="/movies/{{_id}}">{{title}}</a></h3>
                                  <span class="card__category">
                                    {{#if genres}}
                                      {{#each genres}}<a href="/movies?genre={{this}}">{{this}}</a>{{/each}}
                                    {{else}}
                                      <a href="#">Uncategorized</a>
                                    {{/if}}
                                  </span>
                                  <span class="card__rate"><i class="icon ion-ios-star"></i>{{#if rating}}{{rating}}{{else}}N/A{{/if}}</span>
                              </div>
                          </div>
                          <!-- end card -->
                      </div>
                      {{/each}}
                    {{else}}
                      <!-- Fallback content when no movies -->
                      <div class="item">
                          <div class="card card--big">
                              <div class="card__cover">
                                  <img src="img/covers/cover.jpg" alt="">
                                  <a href="/movies" class="card__play">
                                      <i class="icon ion-ios-play"></i>
                                  </a>
                              </div>
                              <div class="card__content">
                                  <h3 class="card__title"><a href="/">Discover Movies</a></h3>
                                  <span class="card__category">
                                      <a href="/">View All</a>
                                  </span>
                                  <span class="card__rate"><i class="icon ion-ios-star"></i>N/A</span>
                              </div>
                          </div>
                      </div>
                    {{/if}}
                </div>
            </div>
            {{/unless}}
        </div>
    </div>
</section>
<!-- end blog -->

{{#if isSearchResult}}
<!-- search results section - LAYOUT GỐC BOOTSTRAP -->
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{#if searchQuery}}
                    <h2 class="section__title">Search Results ({{movies.length}} found)</h2>
                {{else if genreFilter}}
                    <h2 class="section__title">{{genreFilter}} Movies ({{movies.length}} found)</h2>
                {{/if}}
            </div>
            
            {{#if movies}}
                {{#each movies}}
                <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
                    <div class="card">
                        <div class="card__cover">
                            {{#if posterPath}}
                                <img src="https://image.tmdb.org/t/p/w300{{posterPath}}" alt="{{title}}">
                            {{else}}
                                <img src="/img/covers/cover.jpg" alt="{{title}}">
                            {{/if}}
                            <a href="/movies/{{_id}}/watch" class="card__play">
                                <i class="icon ion-ios-play"></i>
                            </a>
                            <span class="card__favorite" onclick="toggleFavorite('{{_id}}')">
                                <i class="icon ion-ios-heart"></i>
                            </span>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title"><a href="/movies/{{_id}}">{{title}}</a></h3>
                            <span class="card__category" style="color: #fff !important; background: #ff55a5 !important; padding: 2px 6px !important; border-radius: 8px !important; font-size: 10px !important; font-weight: 600 !important; display: inline-block !important;">
                                {{#if genres}}
                                    {{#each genres}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}
                                {{else}}
                                    Uncategorized
                                {{/if}}
                            </span>
                            <span class="card__rate">
                                <i class="icon ion-ios-star"></i>
                                {{#if rating}}{{rating}}{{else}}N/A{{/if}}
                            </span>
                        </div>
                    </div>
                </div>
                {{/each}}
            {{else}}
                <div class="col-12">
                    <div class="catalog__empty" style="text-align: center; padding: 50px 20px;">
                        <i class="icon ion-ios-search" style="font-size: 72px; color: #666; margin-bottom: 20px;"></i>
                        <h3>No movies found</h3>
                        <p>Try searching with different keywords or browse all movies.</p>
                        <a href="/" class="btn btn--form">Browse All Movies</a>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</section>
<!-- end search results -->
{{else}}
<!-- Phần category tabs như cũ -->
<section class="content">
    <div class="content__head">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="content__title">Movie Categories</h2>
                    <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">LATEST</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">POPULAR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">ACTION</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="false">COMEDY</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="tab-content" id="myTabContent">
            <!-- Tab 1: Latest Movies -->
            <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                <div class="row">
                    {{#if recentMovies}}
                        {{#each recentMovies}}
                        <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                            <div class="card">
                                <div class="card__cover">
                                    {{#if posterPath}}
                                        <img src="https://image.tmdb.org/t/p/w300{{posterPath}}" alt="{{title}}">
                                    {{else}}
                                        <img src="img/covers/cover.jpg" alt="{{title}}">
                                    {{/if}}
                                    <a href="/movies/{{_id}}/watch" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>
                                <div class="card__content">
                                    <h3 class="card__title"><a href="/movies/{{_id}}">{{title}}</a></h3>
                                    <span class="card__category">
                                        {{#if genres}}
                                            {{#each genres}}<a href="/movies?genre={{this}}">{{this}}</a>{{/each}}
                                        {{else}}
                                            <a href="#">Uncategorized</a>
                                        {{/if}}
                                    </span>
                                    <span class="card__rate"><i class="icon ion-ios-star"></i>{{#if rating}}{{rating}}{{else}}N/A{{/if}}</span>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    {{else}}
                        <div class="col-12">
                            <p class="content__empty">No new movies available.</p>
                        </div>
                    {{/if}}
                </div>
            </div>

            <!-- Tab 2: Popular Movies -->
            <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
                <div class="row">
                    {{#if popularMovies}}
                        {{#each popularMovies}}
                        <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                            <div class="card">
                                <div class="card__cover">
                                    {{#if posterPath}}
                                        <img src="https://image.tmdb.org/t/p/w300{{posterPath}}" alt="{{title}}">
                                    {{else}}
                                        <img src="img/covers/cover.jpg" alt="{{title}}">
                                    {{/if}}
                                    <a href="/movies/{{_id}}/watch" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>
                                <div class="card__content">
                                    <h3 class="card__title"><a href="/movies/{{_id}}">{{title}}</a></h3>
                                    <span class="card__category">
                                        {{#if genres}}
                                            {{#each genres}}<a href="/movies?genre={{this}}">{{this}}</a>{{/each}}
                                        {{else}}
                                            <a href="#">Uncategorized</a>
                                        {{/if}}
                                    </span>
                                    <span class="card__rate"><i class="icon ion-ios-star"></i>{{#if rating}}{{rating}}{{else}}N/A{{/if}}</span>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    {{else}}
                        <div class="col-12">
                            <p class="content__empty">No popular movies available.</p>
                        </div>
                    {{/if}}
                </div>
            </div>

            <!-- Tab 3: Action Movies -->
            <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
                <div class="row">
                    {{#if actionMovies}}
                        {{#each actionMovies}}
                        <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                            <div class="card">
                                <div class="card__cover">
                                    {{#if posterPath}}
                                        <img src="https://image.tmdb.org/t/p/w300{{posterPath}}" alt="{{title}}">
                                    {{else}}
                                        <img src="img/covers/cover.jpg" alt="{{title}}">
                                    {{/if}}
                                    <a href="/movies/{{_id}}/watch" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>
                                <div class="card__content">
                                    <h3 class="card__title"><a href="/movies/{{_id}}">{{title}}</a></h3>
                                    <span class="card__category">
                                        {{#if genres}}
                                            {{#each genres}}<a href="/movies?genre={{this}}">{{this}}</a>{{/each}}
                                        {{else}}
                                            <a href="#">Uncategorized</a>
                                        {{/if}}
                                    </span>
                                    <span class="card__rate"><i class="icon ion-ios-star"></i>{{#if rating}}{{rating}}{{else}}N/A{{/if}}</span>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    {{else}}
                        <div class="col-12">
                            <p class="content__empty">No action movies available.</p>
                        </div>
                    {{/if}}
                </div>
            </div>

            <!-- Tab 4: Comedy Movies -->
            <div class="tab-pane fade" id="tab-4" role="tabpanel" aria-labelledby="4-tab">
                <div class="row">
                    {{#if comedyMovies}}
                        {{#each comedyMovies}}
                        <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                            <div class="card">
                                <div class="card__cover">
                                    {{#if posterPath}}
                                        <img src="https://image.tmdb.org/t/p/w300{{posterPath}}" alt="{{title}}">
                                    {{else}}
                                        <img src="img/covers/cover.jpg" alt="{{title}}">
                                    {{/if}}
                                    <a href="/movies/{{_id}}/watch" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>
                                <div class="card__content">
                                    <h3 class="card__title"><a href="/movies/{{_id}}">{{title}}</a></h3>
                                    <span class="card__category">
                                        {{#if genres}}
                                            {{#each genres}}<a href="/movies?genre={{this}}">{{this}}</a>{{/each}}
                                        {{else}}
                                            <a href="#">Uncategorized</a>
                                        {{/if}}
                                    </span>
                                    <span class="card__rate"><i class="icon ion-ios-star"></i>{{#if rating}}{{rating}}{{else}}N/A{{/if}}</span>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    {{else}}
                        <div class="col-12">
                            <p class="content__empty">No comedy movies available.</p>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</section>
{{/if}}

<script>
function toggleFavorite(movieId) {
    console.log('Toggle favorite for movie:', movieId);
}
</script>